#list-creation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "main"
    "main"
    "main"
    "main"
    "main"
    "footer";
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }
}