main {
    width: 500px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    h1 {
        font-family: $sf-regular;
        font-size: 20px;
        color: #574437;
        margin: 10px 0;
    }
    input {
        margin-bottom: 10px;
        padding: 10px;
        &:focus {
            outline: 0;
        }
        &::placeholder {
            font-family: $sf-light;
            font-size: 15px;
            color: #574437;
        }
    }
    .buttons-wrapper {
        display: flex;
        justify-content: center;
        button {
            border: none;
            padding: 7.5px 20px;
            border-radius: 5px;
            font-family: $sf-regular;
            width: 30%;
            font-size: 20px;
            font-family: $sf-light;
            &:first-child {
                background-color: #d3ce3d;
                margin-right: 5%;
            }
            &:last-child {
                background-color: #ef7734;
                color: #FFF;
            }
        }
    }
    .list-wrapper {
        .list-wrapper {
            margin-top: 20px;
            .list {
                width: 100%;
                margin: 0 auto;
                border-bottom: 1px solid #60b999;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .list-details-wrapper {
                    img {

                    }
                    span {
                        font-family: $sf-regular;
                    }
                }
                .list-button-wrapper {

                }
            }
            .tasks {
                width: 90%;
                margin: 10px auto;
                border-bottom: 1px solid #60b999;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .task-details-wrapper {
                    input {

                    }
                    span {
                        font-family: $sf-regular;
                    }
                }
                .task-button-wrapper {
                    button {
                        img {

                        }
                    }
                }
            }
        }
    }
}